.header {
    background-color: #343a40;
    height: 3.5rem;
}

.item {
    display: inline-block;
    color: white;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 10%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.item:hover {
    background-color: #495057;
}

.item:active, .item.active {
    background-color: #1862ab;
}